btksoru.py
class.py
demo-quiz.py
example.py
main.py
phytonodev1
__pycache__/student.cpython-312.pyc
main.py
__pycache__/teacher.cpython-312.pyc
phytonodev1
calismalarim/gecici.py
calismalarim/iteratorExamples.py
